<a href="https://colab.research.google.com/github/tomonari-masada/course2025-intro2ml/blob/main/04_Python_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python入門 (3)

## ファイルの読み書き

* ファイルに文字列を書き込む
  * `w`はwriteの意味。

In [ ]:
f = open('text.txt', 'w')
for i in range(5):
  line = str(i)
  f.write(line + '\n')
f.close()

* 次のような書き方もできる。
  * 元あったファイルは完全に上書きされることに注意。

In [ ]:
with open('text.txt', 'w') as f:
  for i in range(5):
    line = str(i)
    f.write(line + '\n')

* ファイルに追記する場合は追記モードを指定する。
  * `a`はappendの意味。

In [ ]:
with open('text.txt', 'a') as f:
  for i in range(5, 10):
    line = str(i)
    f.write(line + '\n')

* ファイルから文字列を読み込む
  * `r`はreadの意味。

In [ ]:
f = open('text.txt', 'r')
for line in f:
  print(line)
f.close()

In [ ]:
with open('text.txt', 'r') as f:
  for line in f:
    print(line)

* 改行記号を無くしたい場合は、以下のようにする。

In [ ]:
f = open('text.txt', 'r')
for line in f:
  line = line.strip()
  print(line)
f.close()

## プチ演習: テキストファイルを作ってそれを読み込んでみる

* テキストファイルの作り方
  * 左端のフォルダアイコンをクリックする。
  * 現れたフォルダ一覧の上端にあるGoogle Driveアイコンをクリックする。
  * これで自分のGoogle DriveにGoogle Colabからアクセスできるようになる。
  * driveの下のMyDriveの下に、適当なフォルダを作る。
  * そのフォルダの上で右クリックする。
  * 現れたメニューの「新しいファイル」をクリックする。
  * 適当なファイル名をつける。
  * そのファイルをダブルクリックする。
  * そこに適当なテキストを記入する。

## Pythonの4つの構造型（復習）

* タプル
  * 変更できない要素の列。
* range
  * タプルと同じく不変な要素の列。ただし整数の列。
* リスト
  * タプルとは異なり、変更可能。
* 辞書
  * 連想配列（添え字が数字でない配列）

### タプル(tuple)

In [ ]:
t1 = ()
print(t1)

In [ ]:
t2 = ('one', 2, 'three', 4)
print(t2)

In [ ]:
t3 = (123,)
print(t3)

In [ ]:
t1 = ('one', 2, 'three', 4)
t2 = (0, t1, 'five')
print(t2)
print(t1 + t2)
print((t1 + t2)[2])
print((t1 + t2)[1:4])

In [ ]:
t1 = (2, 4, 6, 8, 10, 12, 14, 16, 18)
t2 = (3, 6, 9, 12, 15, 18)
for e in t1:
  if e in t2:
    print(e)

### 範囲(range)

In [ ]:
for i in range(21, 100, 7):
  print(i)

In [ ]:
for i in range(100, 21, -7):
  print(i)

### リスト(list)

In [ ]:
l1 = []
print(l1)

In [ ]:
l2 = ['one', 2, 'three', 4]
print(l2)

In [ ]:
l3 = [123]
print(l3)

In [ ]:
l1 = [2, 4, 6, 8, 10, 12, 14, 16, 18]
l2 = [3, 6, 9, 12, 15, 18]
for e in l1:
  if e in l2:
    print(e)

* リストのメソッド

In [ ]:
l1 = [1,2,3]
l2 = [4,5,6]

In [ ]:
l2.append(7)
print(l2)

In [ ]:
l1.extend(l2)
print(l1)

In [ ]:
l1.append(l2)
print(l1)

In [ ]:
l = [1,2,3,2,1,2,3,4,3,2,3,4,5]
print(l.count(1))
print(l.count(3))
print(l.index(4))
print(l.index(10))

In [ ]:
l = [1,2,3,2,1,2,3,4,3,2,3,4,5]
l.sort()
print(l)
l.reverse()
print(l)

In [ ]:
l = [3, 6, 9, 12, 15, 18]
l.insert(3, 10)
print(l)
l.remove(10)
print(l)
l.pop(4)
print(l)

### 辞書

In [ ]:
numbers = {'three':3 , 'one':1 , 'nine':9, 'four':4}
for key in numbers :
  print(key, numbers[key])

* 辞書のメソッド

In [ ]:
numbers = {'three':3 , 'one':1 , 'nine':9, 'four':4}
for item in numbers.items():
  print(item)

## 組み込み関数`sorted`

In [ ]:
l = [1, -2, 8, 3, 23, 14]
sorted_l = sorted(l)
print(sorted_l)
print(type(sorted(l)))

* 元のリストはもちろんそのまま。

In [ ]:
print(l)

* タプルにsortedを使うとリストに変換されてしまう。
  * タプルはとにかく変更不可能なデータであるため。

In [ ]:
t = (4, -2, 3, 10, -8, 1)
sorted_t = sorted(t)
print(sorted_t)
print(type(sorted_t))

* 元のタプルはもちろんそのまま。

In [ ]:
print(t)

## 辞書のソート

### 辞書の要素をキーでソートする

In [ ]:
numbers = {'three':3 , 'one':1 , 'nine':9, 'four':4}
for item in sorted(numbers.items()):
  print(item)

### 辞書の要素を値でソートする

In [ ]:
numbers = {'three':3 , 'one':1 , 'nine':9, 'four':4}
for item in sorted(numbers.items(), key=lambda x: x[1]):
  print(item)

## 課題4
* 適当な英文ニュース記事から本文だけをコピー・アンド・ペーストし、テキストファイル`news.txt`を作っておく
* このテキストファイル`news.txt`を関数`open`で開き、そして読み込み、以下の処理をするコードをPythonで書く
* 記事にどの単語が何回出現するかを、単語の出現回数の降順でソートして表示する。

### 課題4のヒント
* 文字列を空白で分割する方法

In [ ]:
text = 'Donald Trump has his sights set on Amazon. He is reportedly “obsessed” with the internet commerce giant, and as is his wont, spent Thursday morning tweeting about it. And it’s not because he loves online shopping.'
word_seq = text.split()

In [ ]:
word_seq

In [ ]:
for word in word_seq:
  print(word)